@function pad($num,$type,$cwidth:0) {
    $val:default;
    @if $cwidth>0{
        $val: $cwidth / $space;
    }@else{
        $val: map-get($spacing, $num);
    }
    @if $type==rem or $type==false {
        $val:#{$val}rem;
    }@else if $type==em{
        $val:#{$val}em;
    }@else if $type==px{
        $val:($val * 16);
        $val:round($val);
        $val:#{$val}px;
    }
    @return $val;
  }