$white: rgb(255, 255, 255);
$black: hsl(0, 0%, 0%);

$red: hsl(0, 70.9%, 49.8%);
$green: hsl(119.2, 33.9%, 45.7%);
$blue: hsl(208.3, 70.9%, 49.8%);

$cyan: hsl(182.8, 100%, 50%);
$magenta: hsl(289.6, 100%, 50%);
$orange: hsl(30.5, 94.2%, 53.8%);
$yellow: hsl(52.6, 99%, 60%); // Logo Yellow

$dark-blue: hsl(209.4, 84.3%, 22.4%); // Logo Blue
$grey: lighten($black, 90%);

$primary-color: $dark-blue;
$secondary-color: $yellow;
$text-color: $black;

$light: hsl(0, 0%, 96%);
$dark: hsl(0, 0%, 21%);
$link: $blue;
$info: hsl(204, 86%, 53%);
$success: $green;
$warning: $yellow;
$danger: $red;

$facebook:hsl(220.6, 44.1%, 41.3%);
$twitter:hsl(202.8, 89.1%, 53.2%);
$pinterest:hsl(353.3, 92%, 38.6%);
$googleplus:hsl(6.5, 70.7%, 54.6%);