/* <=ie9 */
.is-oldie {
    .c-container{
        text-align: center;
        > *{
            text-align: left;
        }
    }
    .c-header,
    .c-footer {
        display: block;
    }
    .c-main-nav,
    .c-main-content,
    .c-side-content {
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
    }
    .c-social-icon{
        display: inline-block;
        text-align: center;
    }
    .c-header__logo,
    .c-header__nav,
    .c-header__search-wrapper{
        display: inline-block;
        vertical-align: middle;
    }
    .c-header__content{
        display: block;
    }
    .c-header__nav{
        width: 48%;
        @include media("<=screen-md"){
            max-width: 310px;
            .c-header__nav-item:last-of-type{
                display: block;
            }
        }
    }
    .c-hp-main-feature__link{
        display: block;
    }
    .c-header__search-wrapper{
        @extend %clear;
        width: 23%;
    }
    .c-header__search{
        display: inline-block;
        margin-right: 0;
        vertical-align: middle;
        
    }
    .c-footer__content{
        display: table;
        margin: 0 auto;
    }
    .c-footer__nav,
    .c-footer__copyright,
    .c-footer__extra{
        display: table-cell;
        vertical-align: top;
    }
    @include media("<=layout") {
        .c-main-nav {
            width: 25%;
        }
        .c-main-content {
            width: 70%;
        }
        .c-side-content {
            display: block;
            width: 100%;
        }
    }
    @include media("<=screen-md") {
        .c-main-content {
            width: 65%;
        }
        .c-side-content {
            width: 100%;
        }
    }
    @include media("<=screen-sm") {
        .c-main-nav {
            width: 100%;
        }
        .c-main-content {
            width: 100%;
        }
        .c-side-content {
            width: 100%;
        }
        .c-footer__copyright,
        .c-footer__extra{
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 320px;
            width: 100%;
        }
    }
    @include media("<=600px") {
        .c-footer__content{
            display: block;
        }
        .c-footer__nav{
            display: block;
            width: 100%;
        }
    }
}
/* ie-11 */
.ie-11{
    .c-header__nav{
        flex: 0 1 auto;
    }  
    .c-header__content{
        width: 100%;
    }
    .c-footer__content{
        width: 100%;
    }
}
/* edge-15 */
.edge-15{
    .c-header__content{
        width: 100%;
    }
}
#pollHome, .PDS_Poll{
    max-width: 280px;
    @include media("<=screen-sm"){
        max-width: 240px;
    }
}
.PDS_Poll .pds-box{
    background: none !important;
    margin: 0 auto !important;
}
.PDS_Poll .pds-question-top{
    background: none !important;
}

._author__photo{
    float: left;
    max-width: 72px;
    margin: 0 margin(-2,rem) 0 0;
}
._img-56px{
    max-width: 56px;
}
//iphone 6/samsung internet hack/fix
@include media(">=phone","<=screen-sm") {
    .c-container{
        flex-direction: column;
    }
    .c-col{
        flex: 0 0 auto;
        &__xs-12{
        }
    }
}