.c-header {
  background: hsla(0, 0%, 100%, .96);
  border-image-source: linear-gradient(to right, darken($blue, 20%) 0%, lighten($blue, 10%) 25%, darken($blue, 20%) 50%, lighten($blue, 10%) 75%, darken($blue, 20%) 100%);
  border-image-slice: 1;
  border-top: 1.2rem solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, .5);
  max-width: 100%;
  padding: pad(-2,rem) pad(-4,rem);
  width: 100vw;
  z-index: z-index(13);
  @include media("<=screen-sm") {
    border-top-width: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    &._sticky{
      position: fixed;
    }
  }
  &__content {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1390px;
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: .5rem;
      grid-template-areas: "logo header-nav search";
      align-items: center;
      @include media(">=screen-md", "<=screen-lg") {
        grid-template-columns: 1fr 1.75fr .5fr;
        grid-gap: .5rem;
      }
      @include media("<=screen-md") {
        grid-template-areas: "logo logo search" "header-nav header-nav header-nav";
        grid-template-columns: 1fr 1fr #{$space}fr;
      }
      @include media("<=screen-sm") {
        grid-template-areas: "nav-toggle logo search";
        grid-template-columns: .25fr 1fr #{$space}fr;
      }
    }
    @include media("<=screen-md") {
      flex-wrap: wrap;
    }
    @include media(">=screen-lg") {
      margin-left: auto;
      margin-right: auto;
      justify-items: center;
    }  
  }
  .c-main-nav__toggle {
    grid-area: nav-toggle;
  }
  &__logo {
    grid-area: logo;
    margin-left: 4rem;
    z-index: z-index(1);
    &-img {
      max-height: 58px;
      max-width: 215px;
      height: 100%;
      width: 100%;
    }
    &.christmas {
      position: relative;
        left: 2%;
      &:after {
        content: '';
        background-image: url(http://cdn.allaboutvision.com/aav-xmas-logo-hat.png);
        background-size: cover;
        display: block;
        height: 130%;
        max-height: 80px;
        max-width: 70px;
        position: absolute;
          top: -46%;
          left: -20px;
        width: 30%;
        @include media("<=screen-sm"){
          left: -10%;
          top: -40%;
          height: 11vw;
          width: 10vw;
        }
      }
    }
    @include media("<=tablet") {
      margin-left: 0;
    }
    @include media("<=screen-sm"){
      flex-basis: 35%;
    }
  }
  &__nav {
    grid-area: header-nav;
    flex-basis: 60%;
    font-size: .9em;
    @include media("<=screen-md") {
      flex-basis: 100%;
      order: 3;
      text-align: center;
    }
    @include media("<=screen-sm") {
      display: none;
    }
    &-item {
      color: $text-color;
      margin: 0 margin(-3, rem);
      i {
        color: darken($blue, 10%);
      }
      &:hover {
        color: $blue;
        text-decoration: none;
        i {
          color: $blue;
        }
      }
    }
  }
  &__search {
    grid-area: search;
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
    max-width: 210px;
    width: 25vw;
    @include media(">=desktop") {
      max-width: 270px;
    }
    @include media("<=screen-md") {
      flex-basis: 50%;
      max-width: 400px;
      width: 50vw;
    }
    @include media("<=screen-sm") {
      background: hsl(0,0,100%);
      max-width: none;
      width: auto;
    }
    &-inner {
      $s: 32px;
      max-width: $s;
      height: $s;
      border: 3px solid $grey;
      border-radius: $s;
      margin-right: 4rem;
      overflow: hidden;
      position: relative;
      transition: 1.1s;
      @include media("<=screen-md") {
        margin-right: 0;
      }
      @include media("<=screen-sm") {
        max-width: none;
      }
      &:after {
        content: '\f002';
        @include font-icon(1rem, $grey, 1.5);
        color: $grey;
        font-family: FontAwesome;
        font-size: 1rem;
        text-align: center;
        @include abs-vert-center;
        right: 5px;
      }
      &:hover,
      &:focus {
        max-width: 296px;
        transition: all 750ms ease-in;
        .c-header__search-input {
          opacity: 1;
          transition: opacity 300ms ease-in-out;
          @include media("<=screen-sm") {
            opacity: 1;
          }
        }
      }
    }
    &-input {
      background-color: transparent;
      color: $text-color;
      font-size: $sm;
      line-height: 2;
      padding-left: .5em;
      padding-right: 2.8em;
      width: 100%;
      border: none;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      @include media("<=screen-sm") {
        opacity: 1;
      }
    }
    &-submit,
    &-label {
      @include visually-hidden;
    }
  }
}