.header {
  background: #fff;
  border-image-source: linear-gradient(to right, darken($blue,20%) 0%, lighten($blue,10%) 25%, darken($blue,20%) 50%, lighten($blue,10%) 75%, darken($blue,20%) 100%);
  border-image-slice: 1;
  border-top: 1.2rem solid;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, .5);
  padding: 1rem .5rem;
  width: 100vw;
  z-index: z-index(13);
  @include media("<=screen-sm"){
    border-top-width: 1rem;
    position: sticky;
      top: 0;
  }
  &__content{
    max-width: 1390px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: .5rem;
    grid-template-areas: "logo header-nav search";
    align-items: center;
    @include media(">=screen-lg"){
      margin-left: auto;
      margin-right: auto;
      justify-items: center;
    }
    @include media(">=screen-md","<=screen-lg"){
      grid-template-columns: 1fr 1.75fr .5fr;
      grid-gap: .5rem;
    }
    @include media("<=screen-md"){
      grid-template-areas: 
      "logo logo search"
      "header-nav header-nav header-nav";
      grid-template-columns: 1fr 1fr #{$space}fr;
    }
    @include media("<=screen-sm") {
      grid-template-areas: 
      "nav-toggle logo search";
      grid-template-columns: .25fr 1fr #{$space}fr;
    }
  }
  .main-nav__toggle{
    grid-area: nav-toggle;
  }
  &__logo {
    grid-area: logo;
    margin-left: 4rem;
    z-index: z-index(1);
    @include media("<=tablet"){
      margin-left: 0;
    }
  }
  &__nav {
    grid-area: header-nav;
    font-size: .9em;
    @include media("<=screen-md"){
      text-align: center;
    }
    @include media("<=screen-sm") {
      display: none;
    }
  }
  &__nav-item {
    color: $text-color;
    margin: 0 margin(-3,rem);
    i{
      color: darken($blue,10%);
    }
    &:hover{
      color: $blue;
      text-decoration: none;
      i{
        color: $blue;
      }
    }
    &--product-profiles {}
    &--rebates {}
    &--find {}
  }
  &__search-wrapper{
    grid-area: search;
    display: flex;
    justify-content: flex-end;
    max-width: 210px;
    width: 25vw;
    @include media("<=screen-md"){
      max-width: 400px;
      width: 50vw;
    }
    @include media("<=screen-sm"){
      max-width: none;
      width: auto;
    }
  }
  &__search {
    $s: 32px;
    max-width: $s;
    height: $s;
    border: 3px solid $grey;
    border-radius: $s;
    margin-right: 4rem;
    overflow: hidden;
    position: relative;
    transition: 1.1s;
    @include media("<=screen-md"){
      margin-right: 0;
    }
    @include media("<=screen-sm"){
      max-width: none;
    }
    &:after{
      content:'\f002';
      @include font-icon(1rem,$grey,1.5);
      color: $grey;
      font-family: FontAwesome;
      font-size: 1rem;
      text-align: center;
      @include abs-center;
      transition: 570ms left 250ms ease-in;
      @include media("<=screen-sm"){
        left: auto;
        right: 5%;
      }
    }
    &:hover,
    &:focus {
      max-width: 296px;
      transition: all 750ms ease-in;
      .header__search-input{
        opacity: 1;
        transition: opacity 300ms ease-in-out;
        @include media("<=screen-sm"){
          opacity: 1;
        }
      }
      &:after{
        left: 80%;
        transition: left 500ms ease-in-out;
        @include media("<=screen-sm"){
          left: auto;
          right: 5%;
        }
      }
    }
  }
  &__search-input {
    color: $text-color;
    font-size: $sm;
    line-height: 2;
    padding-left: .5em;
    padding-right: 2.8em;
    width: 100%;
    border: none;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    @include media("<=screen-sm"){
      opacity: 1;
    }
  }
  &__search-submit {
    @include visually-hidden;
  }
}
