.c-hp-main-feature{
    overflow: hidden;
    @include media("<=screen-lg"){
        font-size: .9em;
        max-width: 484px;
        margin-left: auto;
        margin-right: auto;
    }
    @include media("<=screen-sm"){
        max-width: 350px;
    }
    &__img{
        display: block;
        @include media("<=screen-sm"){
            max-height: 300px;
        }
    }
    &__right{
        background: $black;
        display: flex;
        flex-direction: column;
        align-content: center;
        @include media("<=screen-lg"){
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    &__title{
        color: #fff;
        font-size: $lg;
        font-weight: bold;
        line-height: 2;
        margin: 0 auto;
        @include media("<=screen-lg"){
            display: none;
        }
    }
    &__link{
        @include font-serif(1em, false, false, 1.33);
        border-top: 1px solid $grey;
        color: #fff;
        flex: 1;
        padding: .66rem pad(1,rem);
        &:hover{
            background-color: $blue;
            text-decoration: none;
        }
        @include media(">=screen-sm"){
            border-right: 1px solid $grey;
            padding: .66em pad(-2,em);
        }
        @include media(">=screen-sm","<=screen-lg"){
            flex-basis: 33%;
            &:nth-of-type(3n){
                border-right: none;
            }
        }
        @include media("<=screen-sm"){
            flex-basis: 50%;
            &:nth-of-type(2n){
                border-left: 1px solid $grey;
                border-right: none;
            }
        }
    }
}