.c-site-wrapper {
    display: flex;
    justify-content: center;
}
.c-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.c-header,
.c-footer {
    flex: 1;
    flex-basis: 100%;
}
.c-header {
    margin-bottom: #{$space}rem;
}
.c-main-nav {
    flex: 1;
    flex-basis: 10%;
}
.c-main-content {
    flex: 1;
    flex-basis: 51.333%;
}
.c-side-content {
    flex: 1;
    flex-basis: 25%;
}
@include media(">=screen-lg") {
    .c-main-nav { max-width: 216px; }
    .c-main-content{max-width: 700px; }
    .c-side-content{ max-width: 300px; }
}
@include media("<=1120px") {
    .c-main-nav {
        flex-basis: 20%;
    }
    .c-main-content {
        flex-basis: 49%;
    }
}
@include media("<=screen-md") {
    .c-main-content {
        flex-basis: 65%;
    }
    .c-side-content {
        flex-basis: 100%;
    }
}
@include media("<=screen-sm") {
    .c-main-nav {
        flex-basis: 100%;
    }
    .c-main-content {
        flex-basis: 100%;
    }
    .c-side-content {
        flex-basis: 100%;
    }
}
@supports (display: grid) {
    .c-container {
        display: grid;
        grid-template-columns: [start] margin(-2, em) [main-start] minmax(180px,1fr) 3fr [main-end] minmax(280px,1fr) [end] margin(-2, em);
        grid-gap: #{$space}rem;
        grid-template-areas: 
        "header header header header header" 
        ". main-nav article aside ." 
        "footer footer footer footer footer";
        @include media(">=screen-lg") {
            grid-template-columns: [start] .5fr [main-start] 216px 700px [main-end] 300px [end] .5fr;
            grid-template-areas: 
            "header header header header header" 
            ". main-nav article aside ." 
            "footer footer footer footer footer";
        }
        @include media("<=screen-md") {
            grid-template-columns: minmax(180px,1fr) 2fr minmax(280px,.6fr);
            grid-template-areas: 
            "header header header" 
            "main-nav article aside" 
            "footer footer footer";
        }
        @include media("<=layout") {
            grid-template-columns: minmax(230px,1fr) auto;
            grid-template-areas: 
            "header header" 
            "main-nav article" 
            "main-nav aside" 
            "footer footer";
        }
        @include media("<=screen-sm") {
            grid-gap: .25em;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "header" 
            "main-nav" 
            "article" 
            "aside" 
            "footer";
        }
    }
    .c-header {
        grid-area: header;
        margin-bottom: auto;
    }
    .c-footer {
        grid-area: footer;
    }
    .c-main-nav {
        grid-area: main-nav;
        width: auto;
    }
    .c-main-content {
        grid-area: article;
        width: auto;
    }
    .c-side-content {
        grid-area: aside;
        width: auto;
    }
}