.c-main-content {
    font-size: 0.875em;
    @include media("<screen-xs") {
        padding: 0 pad(-2, rem)
    }
    ul {
        padding: 0;
        margin-left: margin(1, rem);
        li {
            margin-bottom: margin(-2, rem);
        }
    }
    &__article {
        flex: 1;
        padding: 0 pad(-2,em);
        justify-content: start;
        @include media("<screen-xs") {
            padding: 0;
        }
        > *:not(.clear):not(.c-main-content__aside):not([id*="gpt-ad"]) {
            margin-bottom: margin(1, rem);
            margin-top: 0;
        }
        p {
            a {
                color: $link;
                /*background-image: linear-gradient(to top, $link 0, $link 2px, hsla(208, 72%, 50%,0) 2px, hsla(208, 72%, 50%,0) 100%);
                transition: 250ms color ease-out;
                &:hover{
                    color: $link;
                    text-decoration: none;
                    transition: 250ms color ease-in;
                }*/
            }
        }
    }
    &__title {
        @extend %h2;
    }
    &__subtitle {
        @extend %h4;
    }
    &__byline {
        @include font-serif(.9rem, false, 600, 1.3);
        a{
            font-weight: normal;
        }
    }
    &__headline {
        @extend %h5;
    }
    &__aside{
        max-width: 380px;
        margin-bottom: .5rem;
        width: 45%;
        a{
            color: $link;
        }
        @include media("<=screen-sm"){
            max-width: 330px;
            width: auto;
        }
    }
    &__quote{
        @include font-serif(1.5em, $link, false, 1.5);
        border-top: 3px solid $grey;
        border-bottom: 3px solid $grey;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: margin(1,rem);
        padding-top: .5em;
        padding-bottom: .5em;
        @include media(">=layout"){
            &.u-elem--right{
                margin-right: -5%;
            }
            &.u-elem--left{
                margin-left: -5%;
            }
        }
      }
    &__social {
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        @include font-serif(1rem, false, bold, false);
        padding: pad(-2, rem) pad(-3, rem);
        &-text{
            @include media ("<=1008px", ">=layout"){
                display: block;
                margin-top: margin(-5, rem)
            }
            @include media ("<=675px"){
                display: block;
                margin-top: margin(-5, rem)
            }
        }
        .c-social-icon {
            margin-right: margin(-4, rem);
        }
        @include media("<=1105px") {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }
}
.c-content-nav {
    &__title {
        @include font-serif(false, false, bold, 1.3);
    }
    &__link {
        color: $link;
        &:after {
            content: ' \2022 ';
            color: $text-color;
        }
        &:last-of-type {
            &:after {
                content: '';
            }
        }
    }
}