.main-content {
    font-size: 0.875em;
    padding: 0 .5rem;
    &__article{
        > *{
            margin-bottom: #{$phi}rem;
        }
    }
    &__title{

    }
    &__subtitle{

    }
    &__byline{
        @include font-serif(1rem,false,false,1.4)
        &--review{

        }
    }
    &__headline{

    }
    &__social{
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        @include font-serif(1rem,false,bold,false);
        padding: .75rem .25rem;
        .social-icon{
            margin-right: .5rem;
        }
    }
    &__author{
        &-img{

        }
    }
}
.content-nav{
    &__title{
        @include font-serif(false,false,bold,1.3);
    }
    &__link{
        &:after{
            content:' \2022 ';
        }
        &:last-of-type{
            &:after{
                content:'';
            }
        }
    }
}
.updated{
    
}
/* Refers to the "additional content" and "recommended content" areas. 
Migrate out -- Temp names */

.additional-content{
    &__img{

    }
    &__link{

    }
}