.c-main-content {
    font-size: 0.875em;
    /*padding: 0 pad(-3,rem);*/
    @include media("<screen-xs") {
        padding: 0 pad(-2, rem)
    }
    ul {
        padding: 0;
        margin-left: margin(1, rem);
        li {
            margin-bottom: margin(-2, rem);
        }
    }
    &__article {
        padding: 0 pad(-2,em);
        justify-content: start;
        @supports (display: grid) {
            display: grid;
            grid-template-columns: [content-start] pad(-2, em) [article-start] 1fr [article-end] 1fr [content-end] pad(-2, em);
            padding: 0;
        }
        > * {
            @supports (display: grid) {
                grid-column: article-start/content-end;
            }
            margin-bottom: margin(1, rem);
            margin-top: 0;
        }
        p {
            a {
                color: $link;
                /*background-image: linear-gradient(to top, $link 0, $link 2px, hsla(208, 72%, 50%,0) 2px, hsla(208, 72%, 50%,0) 100%);
            transition: 250ms color ease-out;
            &:hover{
                color: $link;
                text-decoration: none;
                transition: 250ms color ease-in;
            }*/
            }
        }
    }
    &__title {
        @extend %h2;
    }
    &__subtitle {
        @extend %h4;
    }
    &__byline {
        @include font-serif(1rem, false, false, 1.4);
    }
    &__headline {
        @extend %h5;
    }
    &__social {
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        @include font-serif(1rem, false, bold, false);
        padding: pad(-2, rem) pad(-3, rem);
        .social-icon {
            margin-right: margin(-2, rem);
        }
        @include media("<=1105px") {
            text-align: center;
        }
        &-text {
            @include media("<=1105px") {
                display: block;
                margin-top: margin(-2, rem);
            }
        }
    }
}

.c-content-nav {
    &__title {
        @include font-serif(false, false, bold, 1.3);
    }
    &__link {
        color: $link;
        &:after {
            content: ' \2022 ';
            color: $text-color;
        }
        &:last-of-type {
            &:after {
                content: '';
            }
        }
    }
}