$mobileNavSize: 100 / $space;
.main-nav {
  border-top: .05em solid $grey;
  max-width: 216px;
  font-size: .9em;
  line-height: 2;
  /*
  @include media("<=tablet") {
    max-width: none;
    border-bottom: .05em solid $grey;
    width: 100vw;
  }*/
  @include media ("<=tablet") {
    position: sticky;
    top: 1rem;
  }
  @include media("<=screen-sm") {
    display: none;
  }
  &.active {
    @include media("<=screen-sm") {
      $border: 2px solid $blue;
      border-top: $border;
      border-right: $border;
      border-bottom: $border;
      box-shadow: 0.1em .2em .2em 0 rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      flex-wrap: wrap;
      height: 100vh;
      overflow-y: scroll;
      position: fixed;
      top: 0;
      left: 0;
      width: #{$mobileNavSize}vw;
      z-index: z-index(17);
      .main-nav__list {
        flex-direction: column;
      }
    }
  }
  &__title {
    display: none;
    @include font-sans($lg, false, false, 1.5);
    margin-left: .15em;
    margin-top: .15em;
    text-align: center;
    text-transform: uppercase;
    @include media("<=screen-sm") {
      display: flex;
    }
  }
  &__toggle {
    display: none;
    @include media("<=screen-sm") {
      background: none;
      border: none;
      color: $primary-color;
      display: flex;
      font-size: 1.3rem;
      margin-right: .5em;
    }
  }
  &__list {
    list-style: none;
    margin-top: 0;
    padding: 0 .2em;
    @include media("<=screen-sm") {
      border-top: 1px solid $grey;
      margin-top: .25rem;
      padding-left: 0;
      padding-right: 0;
      flex-basis: 100%;
    }
  }
  &__item {
    color: #000;
    border-bottom: 1px solid $grey;
    padding-left: .25em;
    position: relative;
    @include media(">=screen-sm") {
      &:hover,
      &:focus {
        background: $blue;
        color: #fff;
        .main-nav__link {
          color: #fff;
        }
        .main-nav__sub-nav {
          box-shadow: 0.1em .2em .2em 0 rgba(0, 0, 0, 0.3);
          border: .35em solid $blue;
          opacity: 1;
          padding: 1em;
          z-index: 10;
          transition: 20ms opacity 250ms ease-in-out;
          width: 25vw;
          @include media("<=tablet") {
            width: 50vw;
          }
        }
      }
    }
    @include media("<=screen-sm") {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0;
      &.active {
        background: $primary-color;
        .main-nav__link {
          color: $white;
        }
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
    /*@include media("<=tablet") {
      border: none;
      display: inline-block;
      padding: 0 .25em;
    }*/
  }
  &__link {
    color: #000;
    &:hover{
      text-decoration: none;
    }
    @include media("<=screen-sm") {
      display: block;
      line-height: 2.3;
      padding-left: .25em;
    }
  }
  &__sub-nav {
    background: #fff;
    display: block;
    font-size: .95em;
    list-style: none;
    line-height: 1.4;
    margin: auto;
    max-width: 350px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left: 100%;
    top: -1rem;
    width: 0;
    transition: opacity 350ms ease-in-out;
    @include media ("<=screen-sm") {
      border: none;
      box-shadow: none;
      display: none;
      opacity: 1;
      padding: 0 .25em 0;
      position: static;
      width: 100%;
      &.active {
        display: block;
      }
    }
    /*@include media("<=tablet") {
      left: 0;
      top: 100%;
      width: 45vw
    }*/
    &-item {
      color: #000;
      margin-left: 1rem;
      text-transform: capitalize;
      @include media ("<=screen-sm") {
        margin: .75rem 0;
        &:last-of-type{
          display: none;
        }
      }
      &--title {
        font-weight: bold;
        margin-left: 0;
        text-transform: uppercase;
        @include media ("<=screen-sm") {
          display: none;
        }
      }
    }
    &-link {
      color: #000;
    }
    &-toggle {
      display: none;
      @include media("<=screen-sm"){
        background: none;
        border: none;
        font-size: $lg;
        margin-right: margin(-2,rem);
        &.active{
          color: $white;
        }
      }
    }
  }
}


/* Body class */

.nav-active {
  @include media("<=screen-sm") {
    .site-wrapper {
      position: relative;
      left: #{$mobileNavSize}vw;
    }
  }
}

.breadcrumbs {
  font-size: .8rem;
  &__item {}
  &__link {
    font-weight: normal;
     :after {
      content: '\#187';
    }
  }
}

.see-also {
  &:before {
    content: '';
  }
  &__item {}
  &__link {
     :after {
      content: '\#187';
    }
  }
}