$mobileNavSize: 100 / $space;
$transSpeed: 200ms;
.c-main-nav {
  &__inner {
    background: $white;
    border-top: .05em solid $grey;
    max-width: 216px;
    font-size: .9em;
    line-height: 2;
    z-index: z-index(15);
    /*@include media ("<=layout",">=screen-sm","height>=700px") {
      position: sticky;
      top: 14%;
      &._sticky{
        position: fixed;
      }
    }*/
    @include media("<=screen-sm") {
      display: none;
      z-index: z-index(18);
    }
  }
  &__title {
    display: none;
    @include font-sans($lg, false, false, 1.5);
    margin-left: .15em;
    margin-top: .15em;
    text-align: center;
    text-transform: uppercase;
    @include media("<=screen-sm") {
      display: flex;
    }
  }
  &__toggle {
    display: none;
    @include media("<=screen-sm") {
      background: none;
      border: none;
      color: $primary-color;
      display: flex;
      font-size: 1.3rem;
      margin-right: .5em;
      padding: 0 pad(-5,rem);
    }
  }
  &__list {
    list-style: none;
    margin-top: 0;
    padding: 0 .2em;
    @include media("<=screen-sm") {
      border-top: 1px solid $grey;
      margin-top: .25rem;
      padding-left: 0;
      padding-right: 0;
      flex-basis: 100%;
    }
  }
  &__item {
    color: #000;
    border-bottom: 1px solid $grey;
    padding-left: .25em;
    position: relative;
    z-index: z-index(15);
    @include media(">=screen-sm") {
      &:hover,
      &:focus {
        background-color: $blue;
        color: $white;
        .c-main-nav__link {
          color: $white;
        }
        .c-sub-nav {
          box-shadow: 0.1em .2em .2em 0 rgba(0, 0, 0, 0.3);
          border: .35em solid $blue;
          opacity: 1;
          padding: 1em;
          z-index: 10;
          transition: 20ms opacity 250ms ease-in-out;
          width: 50vw;
        }
      }
    }
    @include media("<=screen-sm") {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0;
      transition: $transSpeed background-color ease-in;
      &.is-open {
        background-color: $primary-color;
        transition: $transSpeed background-color ease-in;
        .c-main-nav__link {
          color: $white;
          transition: $transSpeed color ease-in;
        }
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  &__link {
    color: #000;
    &:hover {
      text-decoration: none;
    }
    @include media("<=screen-sm") {
      display: block;
      line-height: 2.5;
      padding-left: .25em;
    }
  }
  .aavd{
    @include media("<=tablet"){
      display: none;
    }
  }
  &.is-open {
    .c-main-nav__inner {
      @include media("<=screen-sm") {
        $border: 2px solid $blue;
        border-top: $border;
        border-right: $border;
        border-bottom: $border;
        box-shadow: 0.1em .2em .2em 0 rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        flex-wrap: wrap;
        height: 100vh;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        left: -100%;
        width: #{$mobileNavSize}vw;
        transition: $transSpeed left ease-in;
        .c-main-nav__list {
          flex-direction: column;
        }
      }
    }
    &.is-anim{
      .c-main-nav__inner {
        left: 0;
        transition: $transSpeed left ease-in;
      }
    }
  }
}
.c-sub-nav {
  background: #fff;
  display: block;
  font-size: .95em;
  list-style: none;
  line-height: 1.4;
  margin: auto;
  max-width: 350px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: 100%;
  top: -1rem;
  width: 0;
  transition: opacity 350ms ease-in-out;
  &--two-col{
    @include media (">=screen-sm"){
      max-width: 690px;
    }
  } 
  @include media ("<=screen-sm") {
    border: none;
    box-shadow: none;
    display: none;
    max-height: 1px;
    opacity: 1;
    padding: 0 .25em;
    position: static;
    width: 100%;
    &.is-open {
      display: block;
    }
    &.is-anim{
      max-height: 2200px; // Might need JS to intervene here.
      transition: $transSpeed max-height ease-in;
      transition-delay: 100ms;
    }
  }
  &__item {
    color: #000;
    margin-left: 1rem;
    text-transform: capitalize;
    @include media ("<=screen-sm") {
      margin: .75rem 0;
      &:last-of-type {
        display: none;
      }
    }
    &--title {
      font-weight: bold;
      margin-left: 0;
      @include media ("<=screen-sm") {
        display: none;
      }
    }
    &--no-indent{
      @include media (">=screen-sm") {
        margin-left: 0;
      }
    }
    &--double-indent{
      @include media (">=screen-sm") {
        margin-left: 2rem;
      }
    }
  }
  &__link {
    color: #000;
    @include media("<=screen-sm") {
      display: block;
      padding: 0 .25em 0 .75em;
    }
  }
  &__toggle {
    display: none;
    @include media("<=screen-sm") {
      background: none;
      border: none;
      display: block;
      font-size: $lg;
      margin-right: .5rem;
      transition: $transSpeed transform ease-in;
      &.is-open {
        color: $white;
        transform: rotate(90deg);
        transition: $transSpeed transform ease-in;
      }
    }
  }
}

/* Body class */

.main-nav-is-open {
  // Causes an odd small screen safari bug where the subnavs do not open. May not be there on physical devices.
  overflow: hidden;
  @include media("<=screen-sm") {
    .c-site-wrapper {
      position: relative;
      left: 0;
      transition: $transSpeed left ease-in;
    }
  }
}
.main-nav-is-anim{
  .c-site-wrapper{
    left: #{$mobileNavSize}vw;
    transition: $transSpeed left ease-in;
  }
}

.c-breadcrumbs {
  font-size: $sm;
  margin-bottom: margin(-3, rem);
  &__link {
    color: $link;
    font-weight: normal;
    &:after {
      color: $black;
      content: ' »';
    }
    &:last-of-type:after{
      content:'';
    }
  }
}

.c-see-also {
  &:before {
    content: '';
  }
  &__link {
     :after {
      content: '\#187';
    }
  }
}