.footer{
    background-color: $blue;
    color: #fff;
    font-size: .83em;
    margin-top: 2rem;
    padding: 3em .5em;
    a{
        color: #fff;
    }
    @include media(">768px", "<=1024px") {
        font-size: .88em;
        line-height: 1.2em;
    }
    &__content{
        display: flex;
        justify-content: center;
        @include media(">1025px", "<=1280px") {
            width: 663px;
        }
        @include media(">768px", "<=1024px") {
            width: 543px;
        }
    }
    &__nav{
        border-right: 1px solid #7aa7ca;
        max-width: 162px;
        padding: 0 1em;        
        &-headline{
            color: $secondary-color;
            font-weight: bold;
        }
        &-link{
            color: #fff;
            font-weight: normal;
        }
    }
    &__copyright{
        border-right: 1px solid #7aa7ca;
        max-width: 294px;
        padding: 0 1em;
    }
    &__extra{
        max-width: 300px;
        padding: 0 1em;
    }
}