.header {
  border-image-source: linear-gradient(to right, #004580 0%, #0f84b8 25%, #004580 50%, #0f84b8 75%, #004580 100%);
  border-image-slice: 1;
  border-top: 25px solid;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
  grid-area: header;
  width: 100%;
  &__logo {
    z-index: 1;
  }
  &__nav {
    list-style: none;
    &-item {
      &--product-profiles {}
      &--rebates {}
      &--find {}
    }
  }
  &__search {
    width: 32px;
    height: 32px;
    border: 2px solid #e3e3e3;
    border-radius: 36px;
    background: url('IMAGE1/i/layout/magnifier.svg') center no-repeat;
    overflow: hidden;
    transition: 1.1s;
    &:hover {
      background-position: 95% center;
      max-width: 296px;
      transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
      @include media(">1025px",
      "<=1280px") {
        width: 246px;
      }
      @include media(">768px",
      "<=1024px") {
        width: 176px;
      }
    }
  }
  &__search-input {
    line-height: 2;
    width: 100%;
    border: none;
    opacity: 0;
  }
  &__search-submit {
    width: 24px;
    height: 30px;
    top: 0px;
  }
}