$primary-color: #05396B;
$secondary-color: #FFE701;
$text-color: #000;
$red: #d92525;
$green: #4b9d49;
$blue: #2584d9;

/* Social Icons */
$facebook:#3b5998;
$twitter:#1da1f2;
$pinterest:#bd081c;
$googleplus:#dd4b39;