/* Bootstrap style. But Flexbox */
$grid-cols: 100% / 12;
$gutter: 1rem;

$screen-xs: 600px;
$screen-sm: 767px;
$screen-md: 992px;
$screen-lg: 1365px;
$screen-xl: 1600px;

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter/2;
	margin-right: -$gutter/2;
	margin-bottom: -$gutter;

	&--eq-height {
		@extend .row;
		align-items: stretch;

		> .col, > *[class*="col-"] {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			> * {
				flex: 1;
			}
		}
	}

	&--align-top {
		@extend .row;
		align-items: flex-start;
	}

	&--align-center {
		@extend .row;
		align-items: center;
	}

	&--align-bottom {
		@extend .row;
		align-items: flex-end;
	}

	&--justify-start {
		@extend .row;
		justify-content: flex-start;
	}

	&--justify-center {
		@extend .row;
		justify-content: center;
	}

	&--justify-end {
		@extend .row;
		justify-content: flex-end;
	}

	&.inner-row {
		margin: 0;
	}
}

.col {
	flex: 1;
	padding-left: $gutter/2;
	padding-right: $gutter/2;
	margin-bottom: $gutter;
}

@for $i from 1 to 13 {
	.col-#{$i} {
		@extend .col;
		width: $grid-cols*$i;
		max-width: $grid-cols*$i;
		min-width: $grid-cols*$i;
	}
}

@media (min-width: $screen-xs) {
	@for $i from 1 to 13 {
		.col-xs-#{$i} {
			width: $grid-cols*$i;
			max-width: $grid-cols*$i;
			min-width: $grid-cols*$i;
		}
	}
}

@media (min-width: $screen-sm) {
	@for $i from 1 to 13 {
		.col-sm-#{$i} {
			width: $grid-cols*$i;
			max-width: $grid-cols*$i;
			min-width: $grid-cols*$i;
		}
	}
}

@media (min-width: $screen-md) {
	@for $i from 1 to 13 {
		.col-md-#{$i} {
			width: $grid-cols*$i;
			max-width: $grid-cols*$i;
			min-width: $grid-cols*$i;
		}
	}
}

@media (min-width: $screen-lg) {
	@for $i from 1 to 13 {
		.col-lg-#{$i} {
			width: $grid-cols*$i;
			max-width: $grid-cols*$i;
			min-width: $grid-cols*$i;
		}
	}
}

@media (min-width: $screen-xl) {
	@for $i from 1 to 13 {
		.col-xl-#{$i} {
			width: $grid-cols*$i;
			max-width: $grid-cols*$i;
			min-width: $grid-cols*$i;
		}
	}
}

.row--no-padding {
	@extend .row;

	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	> .col, > [class*="col-"] {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;
	}
}