.site-wrapper{
    display: flex;
    justify-content: center;
}
.container, #container{
    display: grid;
    grid-template-columns: .25fr 1fr 3fr 2fr .25fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    grid-template-areas: "header header header header header"
                         " . main-nav article aside . "
                         "footer footer footer footer footer";
}
.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}
.main-nav, #left {
    grid-area: main-nav;
}
.main-content, #containerLeft {
    grid-area: article;
}
.side-content, #containerRight{
    grid-area: aside;
}
.inner-wrapper{
    max-width: 1300px;
}