@font-face {
  font-family: 'Font-Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
       url('../fonts/font-name.woff') format('woff'),
       url('../fonts/font-name.ttf') format('truetype'),
       url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
html{
  font-family: font-family('sans');
  font-size: 16px;
  line-height: 1.3;
}
a{
  text-decoration: none;
}
$default: 1rem;
$sm: .8rem;
$lg: 1.1rem;
$xl: 1.4rem;