@keyframes mininav-is-open {
    from {
        max-height: 1px;
        max-width: 1px;
        padding: 0;
    }
    to {
        max-height: 28em;
        max-width: 50em;
        padding: pad(5,rem) pad(1,rem) pad(1,rem);
    }
}

@keyframes mininav-is-closed {
    from {
        max-height: 28em;
        max-width: 50em;
        padding: pad(5,rem) pad(1,rem) pad(1,rem);
    }
    to {
        max-height: 1px;
        max-width: 1px;
        padding: 0;
    }
}