.o-button {
    background-color: #fff;
    border: .1rem solid $text-color;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    font-size: $default;
    height: 2.25em;
    line-height: 1.5;
    padding: .35em .6em;
    text-transform: uppercase;
    transition: background-color 250ms ease-in-out;
    z-index: z-index(4);
    &:hover {
        border-color: lighten($text-color, 70%);
        transition: background-color 250ms ease-in-out;
        text-decoration: none;
        &:after {
            transition: border-color 250ms ease-in-out;
        }
    }
    &--none{
        border: none;
        padding: none;
        text-transform: none;
    }
    &--xs {
        font-size: $xs;
    }
    &--sm {
        font-size: $sm;
    }
    &--md {
        font-size: $md;
    }
    &--lg {
        font-size: $lg;
    }
    &--xl {
        font-size: $xl;
    }
    &--rounded {
        border-radius: .25em;
    }
    &--primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
        &:hover {
            background-color: lighten($primary-color, 10%);
            border-color: lighten($primary-color, 10%);
        }
    }
    &--secondary {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: $text-color;
        &:hover {
            background-color: lighten($secondary-color, 10%);
            border-color: lighten($secondary-color, 10%);
        }
    }
    &--success {
        border-color: $success;
        background-color: $success;
        color: $white;
        &:hover {
            background-color: lighten($success, 10%);
            border-color: lighten($success, 10%);
        }
    }
    &--warning {
        border-color: $warning;
        background-color: $warning;
        color: $white;
        &:hover {
            background-color: lighten($warning, 10%);
            border-color: lighten($warning, 10%);
        }
    }
    &--danger {
        border-color: $danger;
        background-color: $danger;
        color: $white;
        &:hover {
            background-color: lighten($danger, 10%);
            border-color: lighten($danger, 10%);
        }
    }
    &--info {
        border-color: $info;
        background-color: $info;
        color: $white;
        &:hover {
            background-color: lighten($info, 10%);
            border-color: lighten($info, 10%);
        }
    }
    &--light {
        border-color: none;
        background-color: $light;
        color: $dark;
        &:hover {
            background-color: lighten($light, 10%);
            border-color: lighten($light, 10%);
        }
    }
    &--dark {
        border-color: $dark;
        background: $dark;
        color: $light;
        &:hover {
            background-color: lighten($dark, 10%);
            border-color: lighten($dark, 10%);
        }
    }
}


/* Arrow buttons. Used for mininav toggles currently. Can have both arrows because why not? */

.c-button--arrow {
    @include media(">=screen-sm") {
        $s: 18px !default; // Implied use is 36px tall button
        border-style: none;
        position: relative;
        &-right {
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                transition: border-color 250ms ease-in-out;
                border-top: $s solid transparent;
                border-bottom: $s solid transparent;
                border-left: $s solid;
                border-left-color: inherit;
                @include abs-vert-center;
                right: -$s;
            }
        }
        &-left {
            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                transition: border-color 250ms ease-in-out;
                border-top: $s solid transparent;
                border-bottom: $s solid transparent;
                border-right: $s solid;
                border-right-color: inherit;
                @include abs-vert-center;
                left: -$s;
            }
        }
    }
}