.button {
    background-color: #fff;
    border: .1rem solid $text-color;
    cursor:pointer;
    display: inline-flex;
    justify-content: center;
    font-size: 1rem;
    height: 2.25em;
    line-height: 1.5;
    padding: .35em .6em;
    text-transform: uppercase;
    transition: background-color 250ms ease-in-out;
    z-index: z-index(4);
    &:hover {
        border-color: lighten($text-color, 70%);
        transition: background-color 250ms ease-in-out;
        text-decoration: none;
        &:after {
            transition: border-color 250ms ease-in-out;
        }
    }
    &--sm {
        font-size: .8rem;
    }
    &--md {
        font-size: 1.1rem;
    }
    &--lg {
        font-size: 1.5rem;
    }
    &--xl {
        font-size: 2rem;
    }
    &--rounded {
        border-radius: .25em;
    }
    &--primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
        &:hover {
            background-color: lighten($primary-color, 10%);
            border-color: lighten($primary-color, 10%);
        }
    }
    &--secondary {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: $text-color;
        &:hover {
            background-color: lighten($secondary-color, 10%);
            border-color: lighten($secondary-color, 10%);
        }
    }
    &--green {
        background-color: $green;
        border-color: $green;
        color: $white;
        &:hover {
            background-color: lighten($green, 10%);
            border-color: lighten($green, 10%);
        }
    }
}


/* Arrow buttons. Used for mininav toggles currently. Separate for easy removal. */

.button--arrow {
    $s: 18px !default; // Implied use is 36px tall button
    border: none;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        transition: border-color 250ms ease-in-out;
    }
    &-right {
        &:after {
            border-top: $s solid transparent;
            border-bottom: $s solid transparent;
            border-left: $s solid $primary-color;
            @include abs-vert-center;
            right: -$s;
        }
        &:hover{
            &:after{
                border-left-color: lighten($primary-color, 10%);
            }
        }
    }
    &-left {
        &:after {
            border-top: $s solid transparent;
            border-bottom: $s solid transparent;
            border-right: $s solid $primary-color;
            @include abs-vert-center;
            left: -$s;
        }
        &:hover{
            &:after{
                border-right-color: lighten($primary-color, 10%);
            }
        }
    }
}