.o-box {
    @include font-sans(false, $text-color, false, 1.3);
    background: $grey;
    padding: pad(1,rem) pad(-2,rem);
    &__title {
        @include font-sans(1.4rem,false,false,false);
        margin: 0 0 margin(-2,rem);
    }
    &__subtitle {
        font-weight: bold;
    }
    &--border {
        background: none;
        border-top: 3px solid $grey;
        border-bottom: 3px solid $grey;
        padding: 0;
        .o-box__title {
            border-bottom: 3px solid $grey;
        }
    }
    &--xs {
        font-size: $xs;
    }
    &--sm {
        font-size: $sm;
    }
    &--md{
        font-size: $md;
    }
    &--lg{
        font-size: $lg;
    }
    &--xl{
        font-size: $xl;
    }
}