.box{
    $pad-v: $phi;
    $pad-h: $phi/2;
    @include font-sans(1rem,$text-color,false,1.3);
    background: $grey;
    margin-top: 1rem;
    padding: #{$pad-v}rem #{$pad-h}rem;
    &__title{
       @include font-serif(2.2em,$text-color,600);
       margin: 0 0 #{$pad-h}rem;
    }
    &__subtitle{
        font-weight: bold;
    }
    &--primary{
        background: $primary-color;
        .box__title{
            color: $white;
        }
    }
    &--secondary{
        background: $secondary-color;
    }
    &--border{
        background: none;
        border-top: 3px solid $grey;
        border-bottom: 3px solid $grey;
        padding: 0;
        .box__title{
            border-bottom: 3px solid $grey;
        }
    }
    &--sm{
        font-size: .8rem;
    }
}