/*
Author: Jeff Keddy
Date: 10/24/2017
Description:    Simple toggle for boxes. Named details after the default element.
                Based on the a11y toggle system: https://github.com/edenspiekermann/a11y-toggle
*/

.o-toggle {
    @include font-sans(1em, false, false, 1.3);
    &__content {
        border: 3px solid $primary-color;
        padding: pad(1,rem);
        @include media(">=screen-sm"){
            padding-top: pad(2,rem);
            position: relative;
                top: -36px;
        }
        &[aria-hidden=true] {
            @include visually-hidden;
            max-height: 1px;
            max-width: 1px;
            opacity: 0;
            visibility: hidden;
            > *{
                opacity: 0;
            }
        }
        &[aria-hidden=false] {
            position: relative;
            height: auto;
            width: auto;
            overflow: visible;
            clip: none;
            opacity: 1;
            max-height: 28em;
            max-width: 50em;
            visibility: visible;
            > *{
                opacity: 1;
            }
        }
        > *:not(.row){
            margin-bottom: margin(-3,rem);
        }
    }
    &--mininav{
        $anim: 1250;
        position: relative;
        .o-toggle__content{
            @include media(">=screen-sm"){
                padding-top:pad(5,rem);
            }
            &[aria-hidden=false] {
                animation-duration: #{$anim - 150}ms;
                animation-name: mininav-is-open;
                > * {
                    transition: #{$anim - 150}ms opacity ease-in 150ms;
                }
                .c-row,.c-col{
                    margin-bottom: 0;
                }
            }
            &[aria-hidden=true] {
                animation-duration: #{$anim}ms;
                animation-name: mininav-is-closed;
                > * {
                    transition: opacity ease-in 150ms;
                }
            }
        }
        .o-toggle__link{
            display: block;
            margin-bottom: margin(-3,rem);
        }
        .o-toggle__subhead{
            display: block;
            margin-bottom: margin(-2,rem);
        }
    }
}