/*
Author: Jeff Keddy
Date: 10/24/2017
Description:    Simple toggle for boxes. Named details after the default element.
                Based on the a11y toggle system: https://github.com/edenspiekermann/a11y-toggle
*/

.o-toggle {
    @include font-sans(1em, false, false, 1.3);
    &__content {
        margin: margin(-2,rem) 0;
        &--border{
            border: 3px solid $primary-color;
            margin: 0;
            padding: pad(1,rem);
            @include media(">=screen-sm"){
                padding-top: pad(2,rem);
                position: relative;
                    top: -36px;
            }
        }
        &[aria-hidden=true] {
            max-height: 1px;
            max-width: 1px;
            opacity: 0;
            visibility: hidden;
            transition: opacity ease-in 500ms, max-height ease-in 400ms, 1000ms max-width ease-in 250ms, 1000ms visibility ease-in 250ms;
            > *{
                opacity: 0;
                transition: opacity ease-in 500ms
            }
        }
        &[aria-hidden=false] {
            height: auto;
            width: auto;
            opacity: 1;
            max-height: 28em;
            max-width: 50em;
            visibility: visible;
            transition: opacity ease-in 500ms, max-height ease-in 500ms, max-width ease-in 50ms;
            > *{
                opacity: 1;
                transition: opacity ease-in 500ms
            }
        }
        > *:not(.row){
            margin-bottom: margin(-3,rem);
        }
    }
    &--mininav{
        $anim: 1250;
        position: relative;
        .o-toggle__content{
            @include media(">=screen-sm"){
                padding-top: margin(5,rem);
            }
            &[aria-hidden=true] {
                animation-duration: #{$anim}ms;
                animation-name: mininav-is-closed;
                padding: 0;
                > * {
                    transition: opacity ease-in 150ms;
                }
            }
            &[aria-hidden=false] {
                animation-duration: #{$anim - 150}ms;
                animation-name: mininav-is-open;
                > * {
                    transition: #{$anim - 150}ms opacity ease-in 150ms;
                }
                .c-row,.c-col{
                    margin-bottom: 0;
                }
            }
        }
        .o-toggle__link{
            display: block;
            margin-bottom: margin(-3,rem);
        }
        .o-toggle__subhead{
            display: block;
            margin-bottom: margin(-2,rem);
        }
    }
}