.o-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    font-size: 1em;
    &__label {
        margin-right: margin(-2, rem);
        margin-bottom: margin(-3, rem);
    }
    &__legend {
        display: block;
        margin-right: margin(-2, rem);
    }
    &__fieldset {
        background: lighten($black, 95%);
        border: 1px solid $black;
        border-radius: .15rem;
        margin: 0;
        margin-bottom: margin(-3, rem);
        padding: pad(-3, em) pad(-3, em) pad(-2, em);
        box-shadow: 0 .2rem .3rem fade-out($black, .9);
        &.is-invalid {
            background-color: lighten($danger, 45%);
            border-color: $danger;
            transition: background-color ease-in 200ms, border-color ease-in 200ms;
        }
        &.is-valid {
            border-color: $success;
            background-color: lighten($success, 50%);
            transition: background-color ease-in 200ms, border-color ease-in 200ms;
        }
        .o-form__label {
            margin-right: margin(-4, rem);
        }
    }
    &__input {
        background: lighten($black, 95%);
        border: 1px solid $black;
        box-shadow: 0 .2rem .3rem fade-out($black, .9);
        border-radius: .15rem;
        line-height: 2.3;
        margin-bottom: margin(-3, rem);
        padding-left: pad(-3, em);
        position: relative;
        transition: box-shadow ease-in 200ms
        background-color ease-in 200ms;
        &:focus,
        &:hover {
            box-shadow: 0 .2rem .3rem fade-out($black, .75);
            transition: box-shadow ease-in 200ms;
        }
        &.is-invalid {
            background-color: lighten($warning, 45%);
            border-color: darken($warning,15%);
            transition: background-color ease-in 200ms, border-color ease-in 200ms;
        }
        &[required].is-invalid {
            background-color: lighten($danger, 45%);
            border-color: $danger;
            transition: background-color ease-in 200ms, border-color ease-in 200ms;
        }
        &.is-valid,
        &.is-invalid:valid {
            border-color: $success;
            background-color: lighten($success, 50%);
            transition: background-color ease-in 200ms, border-color ease-in 200ms;
        }
    }
    &__submit {
        background-color: $info;
        border-color: darken($info,20%);
        color: #fff;
        max-width: 176px;
        &:hover {
            background-color: darken($info, 10%);
            border-color: darken($info, 25%);
        }
        &--success{
            background-color: $success;
            border-color: $success;
            &:hover {
                background-color: $success;
                border-color: $success;
            }
        }
        &[disabled]{
            cursor: auto;
        }
    }
    &__inline {
        display: inline-flex;
        /* Custom Radio Buttons */
        &--radio {
            .o-form__label{
                margin-right: margin(2, rem);
                margin-bottom: 0;
                position: relative;
                &:after{
                    content: '\f1db';
                    @include font-icon(1.2em, $primary-color, 1.3);
                    @include abs-vert-center;
                        right: -1.5rem;
                    z-index: z-index(4);
                }
                &:before{
                    content: '\f058';
                    @include font-icon(1.2em, $primary-color, 1.3);
                    @include abs-vert-center;
                    right: -1.5rem;
                    transform: scale(.25);
                    opacity: 0;
                    z-index: z-index(5);
                    transition: 300ms all ease-in-out;
                }
            }
            .o-form__radio:checked + .o-form__label{
                &:before{
                    color: $success;
                    font-size: 1.2em;
                    transform: scale(1);
                    opacity: 1;
                }
                &:after{
                    opacity: 0;
                    transition-delay: 300ms;
                }
            }
            .o-form__radio:focus + .o-form__label,
            .o-form__label:focus{
                text-decoration: underline;
                text-decoration-color: $info;
                &:after{
                    color: $info;
                }
            }
            .o-form__radio{
                @include visually-hidden;
            }
        }
        /* Custom Checkboxes */
        &--checkbox {
            display: inline-flex;
            .o-form__label{
                margin-right: margin(2, rem);
                margin-bottom: 0;
                position: relative;
                &:after {
                    content: '\f096';
                    @include font-icon(1.2em, $primary-color, 1.3);
                    @include abs-vert-center;
                        right: -1.5rem;
                    z-index: z-index(4);
                }
                &:before{
                    content: '\f14a';
                    @include font-icon(1.2em, $primary-color, 1.3);
                    @include abs-vert-center;
                        right: -1.5rem;
                    transform: scale(.25);
                    opacity: 0;
                    transition: 250ms all ease-in-out;
                    z-index: z-index(5);
                }
            }
            .o-form__checkbox:checked + .o-form__label{
                &:before{
                    color: $success;
                    font-size: 1.2em;
                    transform: scale(1);
                    opacity: 1;
                }
                &:after{
                    opacity: 0;
                    transition-delay: 300ms;
                }
                
            }
            .o-form__checkbox:focus + .o-form__label,
            .o-form__label:focus{
                text-decoration: underline;
                text-decoration-color: $info;
                &:after{
                    color: $info;
                }
            }
            .o-form__checkbox{
                @include visually-hidden;
            }
        }
    }
    &__radio {
        font-size: 1rem;
        margin-right: margin(-4, rem);
    }
    &__checkbox {
        font-size: 1rem;
        margin-right: margin(-2, rem);
    }
    &__select {
        /* For testing purposes */
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: lighten($black, 95%) url('https://maxcdn.icons8.com/Share/icon/win8/Arrows//collapse_arrow1600.png') right 2% center no-repeat;
        background-size: 2%;
        /* For testing purposes */
        border: none;
        border: 1px solid $black;
        border-radius: .15rem;
        box-shadow: 0 .2rem .3rem fade-out($black, .9);
        margin-bottom: margin(-3, rem);
        padding: pad(-4, rem) 0 pad(-4, rem) pad(-5, rem);
        position: relative;
        &:focus,
        &:hover {
            box-shadow: 0 .2rem .3rem fade-out($black, .75);
            transition: box-shadow ease-in 200ms;
        }
        &.is-invalid{
            background-color: lighten($danger, 45%);
            border-color: $danger;
            transition: background-color ease-in 200ms, border-color ease-in 200ms;
        }
        &.is-invalid:valid {
            border-color: $success;
            background-color: lighten($success, 50%);
            transition: background-color ease-in 200ms, border-color ease-in 200ms;
        }
        option {
            &[disabled] {
                color: $danger;
            }
        }
        
    }
    &__textarea {
        background: lighten($black, 95%);
        border: 1px solid $black;
        border-radius: .15rem;
        box-shadow: 0 .2rem .3rem fade-out($black, .9);
        display: block;
        margin-bottom: margin(-3, rem);
        max-width: 100%;
        min-height: 8.3em;
        padding: pad(-3, rem);
        &.is-invalid{
            background-color: lighten($danger, 45%);
            border-color: $danger;
            transition: background-color ease-in 200ms, border-color ease-in 200ms;
        }
        &.is-invalid:valid {
            border-color: $success;
            background-color: lighten($success, 50%);
            transition: background-color ease-in 200ms, border-color ease-in 200ms;
        }
        &:focus,
        &:hover {
            box-shadow: 0 .2rem .3rem fade-out($black, .75);
            transition: box-shadow ease-in 200ms;
        }
    }
    /* Safety measures for forms built with grid */
    .c-row {
        margin-bottom: 0;
        .c-col {
            margin-bottom: 0;
            > .o-form__label {
                display: block;
            }
            .o-form__fieldset {
                display: block;
            }
            .o-form__input,
            .o-form__fieldset,
            .o-form__select,
            .o-form__textarea,
            .o-form__submit {
                width: 100%;
            }
        }
    }
}