/*
Author: Jeff Keddy
Date: 10/26/2017
Description: Bootstrap style. But Flexbox. Ignoring BEM naming conventions temporarily.
*/
$grid-cols: 100% / 12;
$gutter: margin(1,rem);
 
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $gutter;
 
  &--eq-height {
    align-items: stretch;
 
    > .col, > *[class*="col-"] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
 
      > * {
        flex: 1;
      }
    }
  }
  &--no-padding {
    margin-left: 0;
    margin-right: 0;   
    > .col, > [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
  &--no-margin{
    margin-bottom: 0;
  }
  &--align-top {
    align-items: flex-start;
  }
 
  &--align-center {
    align-items: center;
  }
 
  &--align-bottom {
    align-items: flex-end;
  }
 
  &--justify-start {
    justify-content: flex-start;
  }
 
  &--justify-center {
    justify-content: center;
  }
 
  &--justify-end {
    justify-content: flex-end;
  }
 
  &.inner-row {
    margin: 0;
  }
}
.col {
    flex: 1;
    padding-left: pad(-3,rem);
    padding-right: pad(-3,rem);
    margin-bottom: $gutter;
  }
   
  @for $i from 1 to 13 {
    .col-#{$i} {
      width: $grid-cols*$i;
      max-width: $grid-cols*$i;
      min-width: $grid-cols*$i;
    }
  }
   
  @include media(">=phone","<=screen-sm") {
    @for $i from 1 to 13 {
      .col-xs-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }
  @include media(">=screen-sm","<=screen-md") {
    @for $i from 1 to 13 {
      .col-sm-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }
   
  @include media(">=screen-md","<=screen-lg") {
    @for $i from 1 to 13 {
      .col-md-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }
  @include media(">=screen-lg","<=screen-xl") {
    @for $i from 1 to 13 {
      .col-lg-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }
   
  @include media(">=screen-xl") {
    @for $i from 1 to 13 {
      .col-xl-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }