/* Bootstrap style. But Flexbox */
$grid-cols: 100% / 12;
$gutter: 1rem;
 
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter/#{$phi};
  margin-right: -$gutter/#{$phi};
  margin-bottom: -$gutter;
 
  &--eq-height {
    @extend .row;
    align-items: stretch;
 
    > .col, > *[class*="col-"] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
 
      > * {
        flex: 1;
      }
    }
  }
 
  &--align-top {
    @extend .row;
    align-items: flex-start;
  }
 
  &--align-center {
    @extend .row;
    align-items: center;
  }
 
  &--align-bottom {
    @extend .row;
    align-items: flex-end;
  }
 
  &--justify-start {
    @extend .row;
    justify-content: flex-start;
  }
 
  &--justify-center {
    @extend .row;
    justify-content: center;
  }
 
  &--justify-end {
    @extend .row;
    justify-content: flex-end;
  }
 
  &.inner-row {
    margin: 0;
  }
}
.col {
    flex: 1;
    padding-left: $gutter/#{$phi};
    padding-right: $gutter/#{$phi};
    margin-bottom: $gutter;
  }
   
  @for $i from 1 to 13 {
    .col-#{$i} {
      @extend .col;
      width: $grid-cols*$i;
      max-width: $grid-cols*$i;
      min-width: $grid-cols*$i;
    }
  }
   
  @include media(">=phone","<=screen-sm") {
    @for $i from 1 to 13 {
      .col-xs-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }
  @include media(">=screen-sm","<=screen-md") {
    @for $i from 1 to 13 {
      .col-sm-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }
   
  @include media(">=screen-md","<=screen-lg") {
    @for $i from 1 to 13 {
      .col-md-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }
  @include media(">=screen-lg","<=screen-xl") {
    @for $i from 1 to 13 {
      .col-lg-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }
   
  @include media(">=screen-xl") {
    @for $i from 1 to 13 {
      .col-xl-#{$i} {
        width: $grid-cols*$i;
        max-width: $grid-cols*$i;
        min-width: $grid-cols*$i;
      }
    }
  }
  .row--no-padding {
    @extend .row;
   
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
   
    > .col, > [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }