/*
Author: Jeff Keddy, Nicole Sullivan
Date: 10/26/2017
Description: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
*/

.o-media-block {
    display: flex;
    align-items: flex-start;
    padding: pad(-2,rem);
    &--tall,&--vertical{
        align-items: center;
        flex-direction: column;
    }
    &--right, &--reverse{
        flex-direction: row-reverse;
    }
    &--center{
        align-items: center;
    }
    &__img{
        margin-right: margin(-2,rem);
        &--sm{
            max-width: 56px;
        }
    }
    &__body{
        flex: 1;
    } 
}
