.media-block {
    display: flex;
    align-items: flex-start;
    padding: pad(-2,rem);
    &--tall,&--vertical{
        align-items: center;
        flex-direction: column;
    }
    &--right, &--reverse{
        flex-direction: row-reverse;
    }
    &__img{
        margin-right: margin(-2,rem);
    }
    &__body{
        flex: 1;
    } 
}
