.text-box{
    border-bottom: $grey-border;
    @include font-sans(1rem,$white,600,1.7)
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 100%;
    &__body{
        background: $red;
        display: inline-block;
        margin: 0;
        padding-left: pad(-3,em);
        padding-right: pad(-3,em);
    }
    &--border{
        color: $black;
        border-top: $grey-border;
        .text-box__body{
            background: none;
        }
    }
    &--green{
        .text-box__body{
            background: $green;
        }
    }
    &--sm{
        font-size: $sm;
    }
    &--md{
        font-size: $md;
    }
    &--lg{
        font-size: $lg;
    }
    &--xl{
        font-size: $xl;
    }
}