.text-box{
    border-bottom: .2em solid $grey;
    color: #fff;
    margin: 1em auto 0;
    text-transform: uppercase;
    width: 100%;
    &__body{
        background: $red;
        display: inline-block;
        @include font-sans(1em,false,false,1.7)
        margin: 0;
        padding-left: pad(-3,em);
        padding-right: pad(-3,em);
    }
    &--green{
        .text-box__body{
            background: $green;
        }
    }
    &--sm{
        font-size: .7em;
    }
    &--lg{
        font-size: 1.2em;
    }
}