html{
  @include font-sans(16px,false,false,1.3)
}
a{
  color: $primary-color;
  text-decoration: none;
  &.underline,
  &:hover{
    text-decoration: underline;
  }
  &.alt-link{
    color: $white;
  }
}
h1,.h1{
  color: inherit;
  @include font-serif(2.4rem,false,bold, 1.5);
  margin: 0 auto;
  @include media("<=screen-md"){
    font-size: 2rem;
  }
  @include media("<=screen-xs"){
    font-size: 1.6rem;
  }
  a{
    color: inherit;
  }
}
h2,.h2{
  color: inherit;
  @include font-serif(2rem,false,bold,1.5);
  margin: 0 auto;
  @include media("<=screen-md"){
    font-size: 1.7rem;
  }
  @include media("<=screen-xs"){
    font-size: 1.5rem;
  }
  a{
    color: inherit;
  }
}
h3,.h3{
  color: inherit;
  @include font-serif(1.7rem,false,bold,1.3);
  margin: 0 auto;
  @include media("<=screen-md"){
    font-size: 1.5rem;
  }
  @include media("<=screen-xs"){
    font-size: 1.4rem;
  }
  a{
    color: inherit;
  }
}
h4,.h4{
  color: inherit;
  @include font-sans(1.7rem,false,bold,1.3);
  @include media("<=screen-md"){
    font-size: 1.5rem;
  }
  @include media("<=screen-xs"){
    font-size: 1.3rem;
  }
  margin: 0 auto;
  a{
    color: inherit;
  }
}
h5,.h5{
  color: inherit;
  @include font-sans(1.5rem,false,bold,1.3);
  @include media("<=screen-md"){
    font-size: 1.3rem;
  }
  @include media("<=screen-xs"){
    font-size: 1.2rem;
  }
  margin: 0 auto;
  a{
    color: inherit;
  }
}
h6,.h6{
  color: inherit;
  @include font-sans(1.3rem,false,bold,1.3);
  @include media("<=screen-md"){
    font-size: 1.1rem;
  }
  margin: 0 auto;
  a{
    color: inherit;
  }
}
.top{
  &:after{
    content:' ⤴';
    @include font-icon(false,false,false);
  }
}
.def{
  border-bottom: 1px dashed inherit;
  &:after{
    content:' \f059';
    @include font-icon(false,false,false);
  }
}
.update{
  @extend small;
}
