/*
Author: Jeff Keddy
Date: 10/25/2017
Description:    Helper classes for AAV editorial content.
*/


/* For centering, floating, and doing crazy wide hero images. */

.u-elem {
    &--right {
        float: right;
        margin-left: margin(-2, rem);
    }
    &--left {
        float: left;
        margin-right: margin(-2, rem);
    }
    &--center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &--full {
        /* Strange */
        margin-left: calc(-48vw + 50%);
        margin-right: calc(-52vw + 50%);
        max-width: none;
        width: 100vw;
    }
    &--darken{
        transition: filter 250ms ease-in-out;
        &:hover{
            -webkit-filter: brightness(0.45) contrast(1.05);
            filter: brightness(0.45) contrast(1.05);
            transition: filter 250ms ease-in-out
        }
    }
    &--circle{
        border-radius: 50%;
    }
    @include media("<=screen-sm") {
        &--right,
        &--left{
            display: block;
            float: none;
            margin: margin(-2, rem) auto;
        }
    }
}

/* Controls for text. Positioning, sizing, etc. Sizing is all relative. */

.u-text {
    /* Position */
    &--left {
        text-align: left;
    }
    &--center {
        text-align: center;
    }
    &--right {
        text-align: right;
    }
    /* */
    &--uppercase{
        text-transform: uppercase;
    }
    &--capitalize{
        text-transform: capitalize;
    }
    /* Size */
    &--xs {
        font-size: .6em;
    }
    &--sm {
        font-size: .8em;
    }
    &--md {
        font-size: 1.1em;
    }
    &--lg {
        font-size: 1.2em;
    }
    &--xl {
        font-size: 1.4em;
    }
    /* Color */
    &--white {
        color: $white;
    }
    &--black {
        color: $black;
    }
    &--orange {
        color: $orange;
    }
    &--primary {
        color: $primary-color;
    }
    &--secondary {
        color: $secondary-color;
    }
    &--info {
        color: $link;
    }
    &--success {
        color: $success;
    }
    &--warning {
        color: $warning;
    }
    &--danger {
        color: $danger;
    }
    &--light{
        color: $light;
    }
    &--dark{
        color: $dark;
    }
}
/* Put a bird(bg) on it */
.u-bg {
    &--black{
        background-color: $black;
    }
    &--white{
        background-color: $white;
    }
    &--grey{
        background-color: $grey;
    }
    &--primary {
        background-color: $primary-color;
    }
    &--secondary {
        background-color: $secondary-color;
    }
    &--info {
        background-color: $info;
    }
    &--success {
        background-color: $success;
    }
    &--warning {
        background-color: $warning;
    }
    &--danger {
        background-color: $danger;
    }
}
/* Padding Assistance. Matches positive spacing values. */
@for $j from 1 through 5 {
    .u-padding-#{$j} {
        padding: pad($j, rem);
    }
    .u-padding--top-#{$j}{
        padding-top: pad($j, rem);
    }
    .u-padding--right-#{$j}{
        padding-right: pad($j, rem);
    }
    .u-padding--left-#{$j}{
        padding-left: pad($j, rem);
    }
    .u-padding--bottom-#{$j}{
        padding-bottom: pad($j, rem);
    }
}
/* Margin assistance. Matches positive spacing values */
@for $j from 1 through 5 {
    .u-margin-#{$j} {
        margin: margin($j, rem);
    }
    .u-margin--top-#{$j}{
        margin-top: margin($j, rem);
    }
    .u-margin--right-#{$j}{
        margin-right: margin($j, rem);
    }
    .u-margin--left-#{$j}{
        margin-left: margin($j, rem);
    }
    .u-margin--bottom-#{$j}{
        margin-bottom: margin($j, rem);
    }
}
/* 10 levels of sane z-index (1000 - 10000). Add class .z-# Can never be higher than header, fixed items, dialogs, etc */
@for $i from 1 through 10 {
    .u-z-#{$i} {
        z-index: z-index($i);
    }
}